<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:mvc="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/mongo
  		http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
        http://www.springframework.org/schema/aop 
         http://www.springframework.org/schema/aop/spring-aop.xsd">

	<tx:annotation-driven />
	
	<context:component-scan base-package="com.tibco.ma" />

	<mongo:mongo host="127.0.0.1" port="27017" />
	<mongo:db-factory dbname="ma" mongo-ref="mongo" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>
	
		
	<mongo:mapping-converter id="converter"></mongo:mapping-converter>
	
	<bean id="coreGridTemplate" class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
		<constructor-arg name="dbFactory" ref="mongoDbFactory"></constructor-arg>
		<constructor-arg name="converter" ref="converter"></constructor-arg>
		<constructor-arg name="bucket" value="core"></constructor-arg>
	</bean>
	
	
</beans>