<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.popular.dao.LoginInformationDao">
	<resultMap id="LoginResultMap" type="com.popular.model.LoginInformation">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="device_unique_key" property="deviceUniqueKey" jdbcType="VARCHAR" />
		<result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, user_id, device_unique_key, login_time
	</sql>

	<select id="getLoginfoByUserId" resultMap="LoginResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from login_information where user_id = #{user_id}
	</select>
	
	<select id="getLoginfoByUserIdAndDevice" resultMap="LoginResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from login_information where user_id = #{userId} and device_unique_key = #{deviceUniqueKey}
	</select>
	
	<select id="getLoginfoByDevice" resultMap="LoginResultMap" parameterType="String">
		select
		<include refid="Base_Column_List" />
		from login_information where device_unique_key = #{deviceUniqueKey}
	</select>
	
	<insert id="add" parameterType="Object">
	    insert into
	    login_information
	    (user_id, device_unique_key, login_time) 
	    values
	    (#{userId}, #{deviceUniqueKey}, #{loginTime})
	</insert>
	
	<update id="updateDeviceByUserId" parameterType="Object">
	    update login_information 
	    <set>
	        <if test="deviceUniqueKey != null and deviceUniqueKey != ''">
				device_unique_key = #{deviceUniqueKey},
			</if>
	    </set>
	    where device_unique_key = #{deviceUniqueKey}
	</update>
</mapper>